/* #square{
    height: 300px;
    width: 300px;
    background-color: aqua;
    animation-name: manojreddy;
    transition: all ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url(../html/images/tanj.jpg);
}
@keyframes manojreddy{
    from{
        height: 200px;
        transform: rotate(0deg);
        margin-left: 0px;
    
    }
    to{
        margin-left: 900px;
        transform: rotate(180deg);
        margin-left: 1200px;
        height: 200px;
        background-color: black;
    }
}
#circle{
    animation-name: reddy;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: deeppink;
    transform: rotate(180deg);
}
@keyframes reddy{
    from{
        height: 0px;
        width: 0px;
    }
    to{
        height: 200px;
        width: 200px;
        background-color: aqua;
    }
} */
#square{
    height: 150px;
    width: 150px;
    background-color: aqua;
    animation-name: reddy;
    animation-duration: 10s;
    position: absolute;
    animation-iteration-count: infinite;
}
@keyframes reddy {
    0%{
        top: 0px;
        left: 0px;
        border-radius: 0px;
        background-image: url(../html/images/tanjiro-icegif-1.gif));
    }
    25%{
        background-image: url(../html/images/tanjiro-icegif-1.gif);
        top: 0px;
        left: 400px;
        height: 90px;
        width: 90px;
        border-radius: 50%; 
    }
    50%{
        background-image: url(../html/images/tanjiro-icegif-1.gif);
        /* height: 90px;
        width: 140px; */
        top: 400px;
        left:400px;
        border-radius: 0%;
    }
    75%{
        background-image: url(../html/images/tanjiro-icegif-1.gif));
        height: 100px;
        width: 150px;
        top: 400px;
        left: 0px;
        border-radius: 50%;

    }
    100%{
        background-image: url(../html/images/tanjiro-icegif-1.gif);
        top: 0px;
        left: 0px;
    }
}
#wheel{
    /* transform: rotate(); */
    /* height: 200px;
    width: 300px; */
    margin: 100px 700px;
    animation-name: benz;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#wheel{
    margin: 100px 700px;
    animation-name: wheel;
    animation-duration: 1s;
    /* transform: rotate(360deg); */
    animation-iteration-count: infinite;
    /* border: 2px solid red; */
    animation-delay: -4s;
    animation-timing-function: linear;
}
#wheel-container{
    width: 100%;
    height: 50vh;
    /* animation-name: wheel-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
    

}
@keyframes wheel{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
    
}
#div1{
    height: 30px;
    width: 400px;
    border: 2px solid red;
    padding: 30px;
    animation-name: div1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes div1 {
    from{
        width: 400px;
    }
    to{
        width: 300px;
    }
}
#div2{
    margin: 10px;
    height: 30px;
    width: 400px;
    border: 2px solid red;
    padding: 30px;
    animation-name: div2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes div2 {
    from{
        width: 400px;
    }
    to{
        width: 300px;
    }
}
#div3{
    margin: 10px;
    height: 30px;
    width: 400px;
    border: 2px solid red;
    padding: 30px;
    animation-name: div3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes div3{
    from{
        width: 400px;
    }
    to{
        width: 300px;
    }
}
#div4{
    height: 30px;
    width: 400px;
    border: 2px solid red;
    padding: 30px;
    animation-name: div4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes div4 {
    from{
        width: 400px;
    }
    to{
        width: 300px;
    }
}