/* div{
    /* display: inline; */
    /* border: 2px solid black; 
    /* display: block; */
    /* display: inline-block; */
    /* height: 100px;
    width: 100px; */

/* span{
    display: block;
    border: 2px solid blue;
} */

/* .manoj{
    border: 2px solid aqua;
    padding: 30px;
    height: 300px;
    width: 500px;
    display: inline-block;
    background-image: url(../html/images/tanjiro-icegif-1.gif);
    background-size: cover;
    color: lightgreen;

}
img{
    margin-left: 150px;
    text-align: center;
}

#a{
    height: 700px;
    width: 900px;
    padding-left: 100px;
}
#img1{
    height: 200px;
    width: 300px;
    margin-left: 50px;
}
#p1{
    margin-left: 400px;
    margin-top: -100px;
}
#img2{
    height: 200px;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 200px;
}
#p2{
    margin-top: -150px;
    margin-left: 400px;
}
#img3{
    height: 200px;
    width: 200px;
    padding: 50px;
}
#p3{
    margin-top: -150px;
    margin-left: 300px;
} */

ul{
    border: 2px solid red;
    padding-left: 0px;
    font-size: medium;
    display: flex;
    
    flex-direction: left;
    align-items: center;
    justify-content: space-between;
}
