
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
h1{
    border: 2px solid violet;
    text-align: center;
}
p{
    border: 2px solid blue;
    text-transform: uppercase;
    line-height: 30px;
    word-spacing: 30px;
    font-family: 'Tilt Prism', cursive;
}
div{
    border: 3px solid aqua;
    height: 250px;
    width: 250px;
    box-shadow: 10px 10px 10px black;
}